.tableRow {
  border-top: 1px solid #CDCFD2;
  display: flex;
  width: 100%;
  &:nth-child(10) {
    border-bottom: 1px solid #CDCFD2;
  }
  &__item {
    width: 255px;
    padding: 50px 0;
    color: #A4A9B9;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
  }
  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &_item {
      min-width: 150px;
      text-align: center;
    }
  }
}
