
*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

body,
html {
  min-width: 320px;
  scroll-behavior: smooth;
  position: relative;
  font-family: Roboto, sans-serif;
  font-weight: 400;
}

a {
  display: block;
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  color: blue;
  cursor: pointer;
}
