.phonePage {
  margin-top: 60px;

  &__topBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    color: #828286;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.25;
    letter-spacing: 0.96px;
  }

  &__tableWrapper {
    width: 100%;
    display: flex;
    gap: 20px;
    position: relative;
  }

  &__phoneList {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }

  &__firstColumn {
    min-width: 255px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__label {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: auto;
    color: #0d5adc;
    font-size: 18px;
    letter-spacing: 0.36px;
  }

  &__tableBody {
    margin-top: 77px;
    padding-bottom: 90px;
    background-color: #F4F9FC;
  }
}
